// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


:root {
    --main-color: #003366;
    --site-color: #fff;
    --active-color: #0063e5;
    --first-color: #08132f;
    --second-color: #090b13;
    --third-color: #1b202a;
}

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    background-color: #fff;
    color: #333;
    font-family: 'Montserrat';
}

.navbar {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--main-color);
}

.navbar-brand,
.nav-link {
    color: #fff !important;
    width: 250px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
}

.nav-link:hover {
    color: #ff6600 !important;
}

.main-content {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.main-content h1 {
    font-size: 2.5rem;
    color: var(--main-color);
}

.main-content p {
    font-size: 1.2rem;
}

//INICIO SECTION
section {
    padding: 60px 0;
}

.card {
    transition: transform 0.3s;
}

.card:hover {
    // transform: translateY(-10px);
}

//FIM SECTION

//INICIO CARROUSEL

.carousel {
    margin: 50px 0;
}

.carousel-item img {
    background-color: #f8f9fa;
    margin: 0 auto;
    height: 450px;
    width: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease;
}

.carousel-item img:hover {
    transform: scale(1.05);
}

.carousel-caption {
    background-color: #C0C0C0;
    border-radius: 10px;
    opacity: 0.8;
    width: auto;
    height: auto;
    margin-bottom: 10px;
}

.carousel-caption h5 {
    color: #333;
}

.carousel-caption p {
    color: #333;
}

.carousel-caption a {
    text-decoration: none;
    color: #333;
}

.carousel-caption a:hover {
    background-color: #007bff;
    text-decoration: none;
    color: #fff;
    padding: 4px;
    border-radius: 10px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #007bff;
    border-radius: 50%;
}

.carousel-control-prev-icon:active,
.carousel-control-next-icon:active {
    background-color: #0056b3;
}

.carousel-control-prev-icon::after,
.carousel-control-next-icon::after {
    background-color: #007bff;
}

//FIM CARROUSEL

//INICIO BLOG

.blog-section {
    padding: 20px;
}

.blog-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 10px;
    transition: transform 0.2s;
}

.blog-card:hover {
    transform: translateY(-5px);
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 225px;
    width: 100%;
    object-fit: cover;
}

.card-text {
    font-size: 15px;
    text-align: left;
}

.btn-group {
    text-align: left;
}

//FIM BLOG

//INICIO NEWLETTER
.newsletter {
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 40px;
    margin: 20px 0;
}

.newsletter h2 {
    color: #007bff;
}

.newsletter p {
    color: #6c757d;
}

.newsletter .form-control {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.newsletter .btn {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.newsletter .form-check-input {
    margin-top: 0.3rem;
    margin-left: -1.25rem;
}

.newsletter .form-check-label {
    color: #6c757d;
}

//FIM NEWLETTER

//INICIO DIV SITE-INFORMATION

.site-information {
    background-color: #f8f9fa;
    padding: 40px 0;
    border-top: 2px solid #e9ecef;
}

.site-information p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #343a40;
}

.site-information ul {
    list-style: none;
    padding: 0;
}

.site-information ul li {
    margin-bottom: 5px;
}

.site-information a {
    text-decoration: none;
    color: #343a40;
    padding: 4px;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: 2px solid transparent;
}

.site-information a:hover {
    background-color: #007bff;
    color: #FFF;
}

.site-information .col-sm {
    padding: 10px 20px;
}

.site-information .text-center {
    text-align: center;
}

.site-information .text-end {
    text-align: right;
}

.text-end ul li {
    display: inline-block;
    margin-bottom: 5px;
    padding: 4px;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: 2px solid transparent;
    color: #343a40;
}

.text-end ul li:hover {
    background-color: #007bff;
    color: #FFF;
    cursor: pointer;
}

.text-end ul li i {
    margin-right: 8px;
    color: inherit;
}

//FIM DIV SITE-INFORMATION

// INICIO FOOTER
footer {
    background-color: #FFF;
    color: #333;
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.12);
    padding: 5px 20px;
    text-align: center;
    width: 100%;
    flex-shrink: 0;
}

// FIM FOOTER

.login-container {
    margin-top: 50px;
    padding: 50px;
}

.card {
    border-radius: 10px;
}

.card-header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: var(--main-color);
    color: #fff;
}

.card-body {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 40px;
}

.form-control {
    border-radius: 5px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 5px;
}

.btn-link {
    color: #007bff;
}

.btn-link:hover {
    text-decoration: underline;
}

//INICIO DIV PAGINA CONTATO
.div-contact-page {
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    bdisplay: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 70px 0;
}

//FIM DIV PAGINA CONTATO