// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

body {
    background-color: #e3f2fd;
}

.navbar {
    background-color: #131b38;
    /* Laranja */
}

.navbar-brand,
.nav-link {
    color: #ffffff !important;
}

.main-content {
    background-color: #e3f2fd;
    /* Azul claro */
    padding: 60px 15px;
}

.footer {
    background-color: #131b38;
    /* Laranja */
    color: #ffffff;
    padding: 20px 0;
}