// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

body {
    background-color: #fff;
    color: #333;
    font-family: 'Montserrat';
}

.navbar {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #003366;
}

.navbar-brand,
.nav-link {
    color: #fff !important;
    width: 250px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.logo-img {
    max-width: 100%;
    max-height: 100%;
}

.nav-link:hover {
    color: #ff6600 !important;
}

.main-content {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.main-content h1 {
    font-size: 2.5rem;
    color: #003366;
}

.main-content p {
    font-size: 1.2rem;
}

//INICIO CARROUSEL

.carousel {
    margin: 50px 0;
}

.carousel-item img {
    background-color: #f8f9fa;
    margin: 0 auto;
    height: 450px;
    width: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease;
}

.carousel-item img:hover {
    transform: scale(1.05);
}

.carousel-caption {
    background-color: #C0C0C0;
    border-radius: 10px;
    opacity : 0.8;
    width: auto;
    height: auto;
    margin-bottom: 10px;
}

.carousel-caption h5 {
    color: #333;
}

.carousel-caption p {
    color: #333;
}

.carousel-caption a {
    text-decoration: none;
    color: #333;
}

.carousel-caption a:hover {
    background-color: #007bff;
    text-decoration: none;
    color: #fff;
    padding: 4px;
    border-radius: 10px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #007bff;
    border-radius: 50%;
}

.carousel-control-prev-icon:active,
.carousel-control-next-icon:active {
    background-color: #0056b3;
}

.carousel-control-prev-icon::after,
.carousel-control-next-icon::after {
    background-color: #007bff;
}

//FIM CARROUSEL

//INICIO BLOG

.blog-section {
    padding: 20px;
}

.blog-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 10px;
    transition: transform 0.2s;
}

.blog-card:hover {
    transform: translateY(-5px);
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 225px;
    width: 100%;
    object-fit: cover;
}

.card-text {
    font-size: 15px;
    text-align: left;
}

.btn-group {
    text-align: left;
}

//FIM BLOG

//INICIO NEWLETTER
.newsletter {
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 40px;
    margin: 20px 0;
}

.newsletter h2 {
    color: #007bff;
}

.newsletter p {
    color: #6c757d;
}

.newsletter .form-control {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.newsletter .btn {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.newsletter .form-check-input {
    margin-top: 0.3rem;
    margin-left: -1.25rem;
}

.newsletter .form-check-label {
    color: #6c757d;
}

//FIM NEWLETTER

//INICIO DIV CONTATO
.kv-content {
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-top: 0;
    padding: 20px;
    color: #333;
}

.kv-ee-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.kv-ee-col-lg-4,
.kv-ee-col-sm-12,
.kv-ee-col-md-6 {
    padding: 15px;
    box-sizing: border-box;
}

.kv-ee-col-lg-4 {
    flex: 0 0 33.333%;
    max-width: 33.333%;
}

.kv-ee-col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.kv-ee-col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.kv-ee-header {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: bold;
}

.kv-ee-description {
    font-size: 1em;
    margin-bottom: 20px;
}

.kv-ee-logo-title {
    font-size: 1.25em;
    margin-top: 20px;
}

.kv-ee-links {
    list-style: none;
    padding: 0;
    list-style-type: none;
}

.kv-ee-links li {
    margin-bottom: 10px;
}

.kv-ee-links a {
    text-decoration: none;
    color: #dee2e6;
}

.kv-ee-links a:hover {
    text-decoration: none;
}

.kv-ee-social-provider {
    margin-left: 5px;
}

.kv-ee-line {
    border: 0;
    border-top: 1px solid #dee2e6;
    margin: 20px 0;
}

.kv-ee-footer-address,
.kv-ee-footer-contact {
    font-size: 0.875em;
}

.kv-ee-text-sm-right {
    text-align: right;
}

.kv-ee-legal {
    margin-top: 20px;
}

.kv-ee-legal a {
    text-decoration: none;
    color: #007bff;
}

.kv-ee-legal a:hover {
    text-decoration: underline;
}

.kv-ee-footer-navigation {
    padding: 15px;
}

.kv-ee-footer-navigation .kv-ee-header {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: bold;
}

.kv-ee-footer-navigation nav.kv-ee-links {
    padding: 0;
}

.kv-ee-footer-navigation ul {
    list-style: none;
    padding: 0;
}

.kv-ee-footer-navigation ul li {
    margin-bottom: 10px;
}

.kv-ee-footer-navigation ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1em;
    padding: 4px;
}

.kv-ee-footer-navigation ul li a:hover {
    background-color: #007bff;
    text-decoration: none;
    color: #333;
    padding: 4px;
    border-radius: 10px;
}

.kv-ee-footer-social {
    padding: 15px;
}

.kv-ee-footer-social .kv-ee-header {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: bold;
}

.kv-ee-footer-social ul {
    list-style: none;
    padding: 0;
}

.kv-ee-footer-social ul li {
    display: inline-block;
    margin-right: 15px;
}

.kv-ee-footer-social ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1em;
    display: flex;
    align-items: center;
    padding: 4px;
}

.kv-ee-footer-social ul li a i {
    font-size: 1.25em;
    margin-right: 5px;
}

.kv-ee-footer-social ul li a:hover {
    text-decoration: none;
    background-color: #007bff;
    text-decoration: none;
    color: #333;
    padding: 4px;
    border-radius: 10px;
}

//FIM DIV CONTATO

// INICIO FOOTER
.footer {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #003366;
    color: #fff;

    // width: 100vw;
    padding: 0.6rem;
    direction: ltr;
    display: block;
}

.footer a {
    color: #ff6600;
}

.login-container {
    margin-top: 50px;
    padding: 50px;
}

.card {
    border-radius: 10px;
}

.card-header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #003366;
    color: #fff;
}

.card-body {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 40px;
}

.form-control {
    border-radius: 5px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 5px;
}

.btn-link {
    color: #007bff;
}

.btn-link:hover {
    text-decoration: underline;
}